@model List<string[]>
@{
    ViewBag.Title = "TransfersByCostCenter";
}

<div class="card">
    <div class="header">
        <h2>Transfers By Cost Center</h2>
    </div>
    <div class="body">
        <table>
            <tr>
                <th>Cost Center</th>
                <th>Transfers</th>
            </tr>
            @foreach (string[] item in Model)
            {
                <tr>
                    <th>@item[0]</th>
                    <th>@item[1]</th>
                </tr>
            }
        </table>
    </div>
</div>

